[Desktop Entry]
Name=Brave Browser
Comment=Firefox-based browser with the aim of pushing your productivity to a new level
Exec=prime-run /home/rum/Apps/brave/brave
Terminal=false
Type=Application
Icon=/home/rum/Apps/brave/product_logo_128.png

