[Desktop Entry]
Name=Zen Browser
Comment=Firefox-based browser with the aim of pushing your productivity to a new level
Exec=prime-run /home/rum/Apps/Zen-Browser/zen
Terminal=false
Type=Application
Icon=/home/rum/Apps/Zen-Browser/icon.png

