/* Global setting */
* {
  font-family: "0xProto Nerd Font", "Symbols Nerd Font Mono";
  font-weight: bold;
  font-size: 17px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#bluetooth,
#custom-icon,
#custom-system,
#network,
#pulseaudio,
#clock,
#custom-lock,
#custom-reboot,
#custom-power {
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 3px; 
  margin-right: 3px;
}

/* Mouse hover */
#bluetooth:hover,
#custom-icon:hover,
#custom-system:hover,
#network:hover,
#pulseaudio:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

/* Modules left */
#clock{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 2px; /* 保持内部间距 */
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
}
#custom-system{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 4px 4px 7px; /* 保持内部间距 */
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
}

#tray{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 6px; /* 保持内部间距 */
  border-radius: 10px;
  border-width: 0px;
}
#tray menu{
  background-color: rgba(15,27,53,0.9);
}

/* Modules middle */
#cava{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 2px; /* 保持内部间距 */
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
}

/* Modules right */
#bluetooth,
#pulseaudio{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 2px; /* 保持内部间距 */
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
}

#pulseaudio.muted {
  color: #FF0000;
}

#network{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 9px 4px 1px; /* 保持内部间距 */
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
}

#custom-reboot,
#custom-power,
#custom-lock,
#custom-icon{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 2px 4px 8px; /* 保持内部间距 */
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
}

