// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "fcitx5 -d"
spawn-at-startup "swayosd-server"
spawn-sh-at-startup "awww-daemon -n _overview"
spawn-sh-at-startup "awww-daemon -n _workspace"
spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "~/.config/niri/scripts/swayidle.sh"
spawn-sh-at-startup "sleep 0.7 && awww img -n _workspace ~/Pictures/wallpaper/9m8yjx.png && awww img -n _overview ~/Pictures/wallpaper/0jxd5p.png"
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri & /usr/lib/xdg-desktop-portal-gnome"
